<div class="menuComp" onabort="showHideTitleBlock()">
    <div class="menuCompHeader">
        <h3>Our tours</h3>
        <button class="hide_comp_btn"><span class="glyphicon glyphicon-remove" ng-click="hideComp()"></span></button>
    </div>

    <div class="menuCompBody">
        <form class="form-horizontal" name="bookingForm" novalidate ng-submit="addNewOrder(newOrder, bookingForm.$valid)">
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">Enter your first name here</p>
                </div>
                <label for="inputName" class="col-sm-4 control-label">First name</label>
                <div class="col-sm-8">
                    <input type="text" id="inputName" name="name" class="form-control" required ng-model="newOrder.clientName"
                         onblur="checkSuccessInput()"/>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.name.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">Enter your last name here</p>
                </div>
                <label for="inputLastName" class="col-sm-4 control-label">Last name</label>
                <div class="col-sm-8">
                    <input type="text" id="inputLastName" name="lastName" class="form-control" required ng-model="newOrder.clientLastName" 
                           onblur="checkSuccessInput()"/>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.lastName.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">How many places do you need</p>
                </div>
                <label for="placesCount" class="col-sm-4 control-label">Count of places</label>
                <div class="col-sm-8">
                    <input type="number" id="placesCount" name="placesCount" class="form-control" required ng-model="newOrder.clientCount" 
                           onblur="checkSuccessInput()"/>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.placesCount.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">Enter your phone number here</p>
                </div>
                <label for="phoneNumber" class="col-sm-4 control-label">Phone number</label>
                <div class="col-sm-8">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required ng-model="newOrder.clientPhoneNumber" 
                           onblur="checkSuccessInput()"/>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.phoneNumber.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">Choose the place of interest</p>
                </div>
                <label for="tour" class="col-sm-4 control-label">Choose a tour</label>
                <div class="col-sm-8">
                    <select id="tour" name="tour" class="form-control" required ng-model="newOrder.tourName"
                            onblur="checkSuccessInput()">
                        <option>Wieliczka Salt Mine</option>
                        <option>Auschwitz-Birkenau</option>
                        <option>Zakopane</option>
                        <option>Termal pools</option>
                        <option>Bochnia Salt Mine</option>
                        <option>Airport</option>
                    </select>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.tour.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="help-block">Choose the date of your trip</p>
                </div>
                <label for="dateTour" class="col-sm-4 control-label">Choose date</label>
                <div class="col-sm-8">
                    <input type="date" id="dateTour" name="dateTour" class="form-control" required ng-model="newOrder.tourDate" 
                           onblur="checkSuccessInput()"/>
                    <div class="error" ng-show="showError">
                        {{getError(bookingForm.dateTour.$error)}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary btn_book" ng-click="hideComp()">Book</button>
                </div>
            </div>
        </form>
    </div>
</div>
