<div class="menuComp">
    <div class="menuCompHeader">
        <h3>Our gallary</h3>
        <button class="hide_comp_btn"><span class="glyphicon glyphicon-remove" ng-click="hideComp()"></span></button>
    </div>
    <div class="menuCompBody">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>               
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="../img/photos/photos1.jpg" />
                    <div class="carousel-caption">
                        <h3>Zakopane</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/photos/photos2.jpg" />
                    <div class="carousel-caption">
                        <h3>Zakopane</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/photos/photos3.jpg" />
                    <div class="carousel-caption">
                        <h3>Zakopane</h3>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>
</div>
